menu "OCS IoT Configuration"
    menu "OCS HTTP Pipeline Configuration"
        config OCS_IOT_HTTP_PIPELINE_TELEMETRY_BUFFER_SIZE
            int "Buffer size to hold the formatted telemetry JSON data"
            default 512
            help
                Buffer size to hold the formatted telemetry JSON data, in bytes.

        config OCS_IOT_HTTP_PIPELINE_REGISTRATION_BUFFER_SIZE
            int "Buffer size to hold the formatted registration JSON data"
            default 256
            help
                Buffer size to hold the formatted registration JSON data, in bytes.

        config OCS_IOT_HTTP_PIPELINE_COMMANDS_BUFFER_SIZE
            int "Buffer size to hold the formatted commands JSON data"
            default 256
            help
                Buffer size to hold the formatted commands JSON data, in bytes.
    endmenu
endmenu
