menu "OCS Core Configuration"
    config OCS_CORE_FW_VERSION
        string "Firmware Version"
        default "0.0.0"
        help
            Firmware version in SemVer format.

    config OCS_CORE_FW_NAME
        string "Firmware Name"
        default "firmware"
        help
            Firmware name.

    config OCS_CORE_FW_DESCRIPTION
        string "Firmware Description"
        default "firmware"
        help
            Firmware description.
endmenu
