menu "OCS HTTP Server Configuration"
    config OCS_HTTP_SERVER_PORT
        int "Server Port"
        default 80
        help
            TCP port to accept incoming connections.

    config OCS_HTTP_SERVER_MAX_URI_HANDLERS
        int "Maximum number of URI handlers"
        default 64
        help
            Maximum number of URI handlers that can be registered for an HTTP server.
endmenu
