menu "OCS Network Configuration"
    menu "WiFi Configuration"
        menu "STA Configuration"
            config OCS_NETWORK_WIFI_STA_SSID
                string "WiFi STA SSID"
                default "your-ssid"
                help
                    SSID for the WiFi access point, to which ESP32 is connected.

            config OCS_NETWORK_WIFI_STA_PASSWORD
                string "WiFi STA Password"
                default "your-password"
                help
                    Password for the WiFi access point, to which ESP32 is connected.

            config OCS_NETWORK_WIFI_STA_RETRY_COUNT
                int "WiFi Retry Count"
                default 5
                help
                    Maximum number of attempts to establish a WiFi connection.
        endmenu
    endmenu

    menu "HTTP Configuration"
        config OCS_NETWORK_HTTP_SERVER_PORT
            int "Server Port"
            default 80
            help
                TCP port to accept incoming connections.

        config OCS_NETWORK_HTTP_SERVER_MAX_URI_HANDLERS
            int "Maximum number of URI handlers"
            default 64
            help
                Maximum number of URI handlers that can be registered for an HTTP server.
    endmenu

    menu "mDNS Configuration"
            config OCS_NETWORK_MDNS_HOSTNAME
                string "mDNS Hostname"
                default "ocs-mdns-hostname"

            config OCS_NETWORK_MDNS_INSTANCE_NAME
                string "mDNS Instance Name"
                default "ocs-mdns-instance-name"
    endmenu
endmenu
